{%extends 'base.html'%}
{%load static%}

{%block start%}
{%csrf_token%}
  <a href="/register/" class="btn btn-success w-50 " type="submit" >First</a>
  <a href="/reggister/" class="btn btn-success w-50 " type="submit" >Second</a>
  <a href="/register/" class="btn btn-success w-50 " type="submit" >Third</a>
  <a href="/register/" class="btn btn-success w-50 " type="submit" >Fourth</a>
  <a href="/register/" class="btn btn-success w-50 " type="submit">Fifth</a>
  <a href="/register/" class="btn btn-success w-50 " type="submit" >Sixth</a>
  <a href="/register/" class="btn btn-success w-50 " type="submit" >Seventh</a>
  <a href="/register/" class="btn btn-success w-50 " type="submit" >Eigth</a>
  
{%endblock%}