{%extends 'base.html'%}
{%load static%}

{%block start%}

<form method = "post" enctype="multipart/form-data" class="col-6 mx-auto card p-3 shadow-lg ">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name of the Student</label>
      <input type="text" class="form-control" name="name">
      {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Enrollment Number</label>
      <input type="text" class="form-control" name="enrollment">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Exam Roll Number</label>
        <input type="Number" class="form-control" name="roll_no">
      </div>

      <div class="form-group">
        <label for="department">Semester:</label>
        <select class="form-control" id="department" name="semester">
          <option value="First">First</option>
          <option value="Second">Second</option>
          <option value="Third">Third</option>
          <option value="Fourth">Fourth</option>
          <option value="Fifth">Fifth</option>
          <option value="Sixth">Sixth</option>
          <option value="Seventh">Seventh</option>
          <option value="Eigth">Eigth</option>

          
        </select>
      </div>

<div class="form-group">
    <label for="department">Year in which Enrolled:</label>
    <select class="form-control" id="year" name="year">
      <option value="2023">2023</option>
      <option value="2022">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>

      
    </select>
      </div>

      

      
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{%endblock%}